body{
    margin: 0;
    background-color: whitesmoke;
}
.main-line{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 20px;
}
.main-line img{
    padding-left: 20px;
}
.comment-box-main{
    width: auto;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    border-radius: 15px;
}
.comment-box{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    padding-bottom: 5px;
}
.comment-box1{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-right: 3%;
    font-size: 20px;
}
.comment-box3{
    padding-left: 1%;
    padding-top: 10px;
}
.comment-box3 button{
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: lightgrey;
    border: none;
    border-radius: 15px;
}
.comment-box3 input:hover{
    background-color: gray;
}
.comment-name{
    padding-right: 2%;
}
.new-comment{
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    border-radius: 15px;
}
.new-comment-box{
    border: 2px gray solid;
    margin-top: 10px;
    display: flex;
    margin-bottom: 10px;
}
.new-comment-box h3{
    font-size: 18px;
    margin-left: 10px;
}
.new-comment-text{
    font-size: 14px;
    margin-left: 10px;
}
.new-comment-data{
    font-size: 10px;
    color: gray;
    margin-left: 10px;
}
.new-comment-box1{
    width: 90%;
}
.new-comment-box2 img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    cursor: pointer;
}
.new-comment-box2{
    display: flex;
    justify-content: right;
    align-content: center;
    width: 10%;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.alert{
    color: red;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.data-box{
    padding-top: 30px;
    padding-left: 10px;
}
